body{
	color: #333333;
	font-family: 'Poppins', sans-serif !important;
}

.hero {
	background-image:url("../img/back_landing_2.jpg");
	background-repeat: no-repeat;
	background-size: 740px;
	height: 435px;
}
.hero-btns {
	position: relative;
	top: 180px;
}
.hero-btns button{
	width: 100%
}
.logo{
	position: relative;
	float: right;
	margin-right: 30px;
}
.logo-premio{
	position: relative;
	background-color: #4173b6;
	height: 125px;
}
.logo-premio img{
	position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.img-premio{
	height: 125px;
	overflow: hidden;
}
.img-premio img {
	width: 100%;
}
.grilla-premios .row{
	margin-top: 2rem;
}
.cabezal{
	position: absolute;
	top: 0;
	z-index: -1000;
	background: #4274b7; /* Old browsers */
	background: -moz-linear-gradient(left,  #4274b7 1%, #87c5f0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #4274b7 1%,#87c5f0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #4274b7 1%,#87c5f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4274b7', endColorstr='#87c5f0',GradientType=1 ); /* IE6-9 */
	width: 100%;
	height: 110px;

}
.pie{
	position: relative;
	bottom: 0;
	z-index: -1000;
	background: #4274b7; /* Old browsers */
	background: -moz-linear-gradient(left,  #4274b7 1%, #87c5f0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #4274b7 1%,#87c5f0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #4274b7 1%,#87c5f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4274b7', endColorstr='#87c5f0',GradientType=1 ); /* IE6-9 */
	width: 100%;
	height: 110px;

}
.redes{
	display: block;
}
.titulo-info{
	color: #fff;
	font-size: 3.5rem;
	background: #4274b7; /* Old browsers */
	background: -moz-linear-gradient(left,  #4274b7 1%, #87c5f0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #4274b7 1%,#87c5f0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #4274b7 1%,#87c5f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4274b7', endColorstr='#87c5f0',GradientType=1 ); /* IE6-9 */
	width: 100%;
	height: 65px;
	padding: 15px;
}
.titulo-info h1{
	margin-top: 0px;
}
.info {
	margin-top: 30px;
}
.info h4{
	color: #4173b6;
}
.info .subt{
	color: #4173b6;
	margin-top: -10px;
}
.lista-premios {
	height: 100%;
	border: 1px solid #4173b6;
	padding: 20px 60px;
	margin-top: 15px;
	border-radius: 7px;
}
.lista-premios ul{
	list-style: none;
	padding-left: 0px !important;
	-webkit-padding-start: 0;
}
.relleno{
	display: none;
}
.footer, .pie{
	margin-top: 15px;
}
.footer button{
	color: #fff;
	background-color: transparent;
	border: none;
}
.footer button:hover{
	color: #4173b6;
	background-color: #fff;;
	border: none;
	border-radius: 5px;
}
header{
	color: #fff;
	text-transform: uppercase;
	height: 110px;
 	background-color: #4173b6;
}
.btn-pie a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
.btn-pie a:hover {
	padding: 10px;
	color:  #4173b6;
	background-color: #fff;
	border-radius: 10px;
}
.hero-btns a {
	text-align:center;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	color:  #4173b6;
	text-decoration: none;
	border-radius: 10px;
	font-size: 18px;
	margin:5px 0;
}
.hero-btns a:hover {
	text-align:center;
	width: 100%;
	padding: 10px;
	color: #fff;
	background-color: #4173b6;
	border-radius: 10px;
	font-size: 18px;
}

.resaltar{
	display: inline-block; 
	color:#4173b6; 
	padding: 0 3px;
	background-color: #fff; 
	font-weight: bold; 
	border-radius: 6px;
}
/* Add the following CSS block to your own
stylesheet. */
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-arrow-down-circle .lnr-arrow-right-circle {
  color: #0F52BA;
  font-size: 20px;
}

.formulario{
	display: block;
	border: 1px solid #85c2eb;
	border-radius: 15px;
	margin-top: 30px;
	padding: 30px 10px;
}
.bases {
    position: absolute;
    bottom: 10px;
    left: 25%;
}
.chances{
	margin-top: 15px;
}
.chances h2{
	font-size: 2rem;
}
.chances p{
	margin-top: 10px;
	font-size: 6rem;
}
.formulario label{
	display: none;
}
.formulario input::placeholder{
	font-size: 90%;
}
.formulario select::invalid {
	font-size: 90%;
}
.formulario select:required:invalid {
  color: grey;
  font-size: 90%;
}
.formulario option[value=""][disabled] {
  display: none;
}
.formulario option {
  color: black;
}
.tab-pane{
	margin-top: 20px;
}
//Pantallas

@media (min-width : 5760px) {

}

@media (min-width : 768px) {
 .list-der .lista-premios {
    height: 300px;
 }
  .relleno {
 	color: #fff;
 	display: block;
 	position: relative;
	background-color: #4173b6;
	padding: 20px;
	bottom: -20px;
 }
 .formulario{
	height: 585px;
}
    header h1{
	font-size: 26px;
 }	
     header {
    margin-top: 15px;
 }
}	

@media (min-width : 992px) {
 	header{
 	background-color: transparent;
 	margin-top: 0;
 }	
 	.grilla-premios .row{
	margin-bottom: 15px;
	}
}	

@media (min-width : 1200px) {
    header h1{
	font-size: 36px;
 }
}	
